
body{
    margin: 0;
    background: linear-gradient(135deg, #ffe5ec, #caf0f8);
    display: flex;
    justify-content: center;
    min-height: 100vh;
}
h2{
     display: flex;
    justify-content: center;
}
.main-content{
    border: 1px solid black;
    width: 1000px;
    height: 300px;
    padding: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;


    font-family: "Caveat";
    font-size: 30px;
    font-weight: 600;

}

.button{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
    margin-top: 24px;
    border: none;
}

button, select{
    padding: 10px;
}

.button button{
    padding: 14px 22px;
    border: none;
    border-radius:15px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    transition: transform 0.2s ease, box-shadow 0.2s ease, opacity 0.2s ease;
}
 select{
    padding: 14px 22px;
    border: none;
    border-radius:15px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    color: white;
    background-color: rgb(172, 44, 65);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    transition: transform 0.2s ease, box-shadow 0.2s ease, opacity 0.2s ease;
}

.button button:hover{
    /* transform: translateY(-3px); */
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0);
    opacity: 0.92;
}

.button button:active{
    transform: translateY(0px);
}

/* Individual mood colors */
.btn-happy{
    background: linear-gradient(135deg, #ffb703, #fb8500);
}

.btn-sad{
    background: linear-gradient(135deg, #4895ef, #4361ee);
}

.btn-angry{
    background: linear-gradient(135deg, #e63946, #d00000);
}

.btn-miss{
    background: linear-gradient(135deg, #f72585, #b5179e);
}